
*{
    margin:0;
    box-sizing: border-box;
}
body
{
    background-color:#e3e3eb
}
.conteneur
{
    background-color: white;
    margin: 60px auto;
    width: 850px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.doe
{
    font-weight: normal;
}
.mail,.number
{
    color: #b6b3b3
}
.element2,.element4
{
    margin: 20px auto;
}
.front
{
    text-decoration: underline;
    font-weight: bold;
}
.couleur
{
    color: #1acaf7;
    margin:20px auto;
}
.element3
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
}
.cercle{   
 width: 15px;
 height: 15px;
 border-radius: 100%;
 margin: 3px;
}
.cercle.active{
    background-color:#74b4d1;
}
.cercle.desactive{
    background-color:#bcdfec;
}  
.cercles
{
    display: flex;
}
